{
  "presets": [
    ["env", {
      "plugins": ["transform-async-to-generator"],
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }]
  ],
  "env": {
    "test": {
      "presets": ["env"]
    }
  }
}